# kanastra-front
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

kanastra-front/node_modules
kanastra-front/dist
kanastra-front/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


kanastra-back/.phpunit.cache
kanastra-back/node_modules
kanastra-back/public/build
kanastra-back/public/hot
kanastra-back/public/storage
kanastra-back/storage/*.key
kanastra-back/vendor
kanastra-back/.env
kanastra-back/.env.backup
kanastra-back/.env.production
kanastra-back/.phpactor.json
kanastra-back/.phpunit.result.cache
kanastra-back/Homestead.json
kanastra-back/Homestead.yaml
kanastra-back/auth.json
kanastra-back/npm-debug.log
kanastra-back/yarn-error.log
kanastra-back/.fleet
kanastra-back/.idea
kanastra-back/.vscode

